@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    /* fonts */
    --font-space-Grotesk:"Space Grotesk", sans-serif;
    /* colors */
    --color-accent: #b9ff66;
    --color-primary: #191a23;
    --color-secondary: #f3f3f3;
    /* animation */
    --animate-slide-down: slideDown 0.3s ease-out ;
    --animate-slide-up: slideUp 1.0s ease-out;
    @keyframes slideDown {
        0% {
             transform:  translateX(-10%); 
            opacity:  0;
         }
         100% {
                transform: translateX(0);
                 opacity: 1;
            } 
    }
    @keyframes slideUp {
        0% {
                transform: translateX(0);
                 opacity: 1;
         }
         100% {
             transform:  translateX(-10%); 
            opacity:  0;
            } 
    }
          --animate-wiggle: wiggle 1s ease-in-out infinite;
    
          @keyframes wiggle {
    
              0%,
              100% {
                  transform: rotate(-3deg);
              }
    
              50% {
                  transform: rotate(3deg);
              }
          }
}

@component {
    .btn-primary {
        @apply bg-accent text-primary;
    }
    .btn-secondary {
        @apply bg-secondary text-primary;
    }
    .btn-accent {
        @apply bg-primary text-accent;
    }
    .btn-outline {
        @apply border-2 border-accent text-accent;
    }
    .btn-link {
        @apply text-accent underline;
    }
}

@utility btn{
        background-color: black;
        border-radius: 0.5rem;
        color: white;
        border: 2px solid black;
        transition: all 0.3s ease;
}

body {
    @apply font-space-Grotesk;
}